<%- include('../comunes/header',{titulo:'Notificaciones'}) %>


<center>
    <div class="container">
        <br>
        <div class="solid">

            <nav>
                <ul class="nav justify-content-end">

                    <li class="nav-item">
                        <a class="nav-link" href="/Encargado/menu" style="color: black">Ménu Encargado</a>
                    </li>

                </ul>

            </nav>

            <br>
            <h1>NOTIFICACIONES</h1>


            <form action=""
                  method="POST">

                <div class="row">


                </div>


            </form>


            <br>
        </div>
    </div>
</center>
<%- include('../comunes/librerias') %>
<%- include('../comunes/footer') %>
